@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/roboto/Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/roboto/Roboto-Light.ttf') format('truetype');
}

/* STYLE START*/
body{
    font-family: Roboto-Light;
    font-style: normal;
    color: #3E3E3E;
    display: flex;
    justify-content: center;
}
.landing {
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    background-image: url(img/landingpage_mac.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* NAVBAR START */
.nav-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 210px;
    padding-top: 20px;
    
}
.logo-container {
    display:flex;
}
.logo-name{
    display:flex;
}
.menu-items {
    display:flex;
}
.Navbar__Link-toggle {
    display:none;
}
/* NAVBAR END */

/* LOGO START */
.logo-name {
    font-family: Roboto-Thin;
    font-size: 35px;
    color: #3E3E3E;
    display: flex;
    flex-direction: row;
    height:35px;
}
.blue-text {
    font-family: Roboto;
    font-style: bold;
    color: #4999BC;
    /* padding-top:40px;    */
}
.thin-text {
    padding-bottom: 10px;
}
.grey-text {
    font-family: Roboto-Light;
    color: #ACAEAF;
}
/* LOGO end */

/*HEADER START*/
.landing-header{
    font-family: Roboto-Light;
    font-size: 40px;
    font-style: bold;
    color: #4999BC;
    display: flex;
    text-align: center;
    flex-direction: column;
}


/* MEDIA QUERIES */
/*iPhone 6 Portrait*/
@media only screen and (min-width: 360px) and (max-width: 725px) and (orientation : portrait) { 
    .landing {
        background-image: url(img/phone_420x630.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 750px;
        
    }
    .nav-container{
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .menu-items{
        display:flex;
        justify-content: center;
        padding: 6.5px;
        visibility: hidden;
        text-align: center;
        width: 30%;
        opacity: 0;
        transition: visibility 0s, opacity 0.7s ease-in-out;  
    }
    .fas{
        margin-right: 40px;
    }
    .menu-item-toggle-show{
        visibility: visible;
        opacity: 1;
    }
    .menu-item-toggle-show:hover{
        border: 1px #ACAEAF solid;
    }

    .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: relative;
        cursor: pointer;
    }
    .landing-header{
        font-family: Roboto-Light;
        font-size: 25px;
        font-style: bold;
        color: #4999BC;
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-top: 20px;
    }
    .logo-container{
        margin-top:10px;
    }
    .logo-name{
        margin-top: 13px;
        margin-bottom: 1px;
    }
}

@media only screen and (min-width: 726px){
    .nav-container {
        display: flex;
        justify-content: flex-end;
    }
    .logo-container {
        margin-right: auto;
        margin-left: 80px;
        margin-top: 60px;
    }
    .menu-items{
        margin-top: 65px;
        margin-right: 20px;
        height: 15px;
        padding: 5px;
        border-bottom: #4999BC 1px solid;
    }
    .last-item{
        margin-right: 65px;
    }

}   