@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/roboto/Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/roboto/Roboto-Light.ttf') format('truetype');
}

/* STYLE START*/
body{
    font-family: Roboto-Light;
    font-style: normal;
    color: #3E3E3E;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing {
    width: 100%;
    height: 960px;
    display: flex;
    flex-direction: column;
    background-image: url(img/landingpage_mac.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* NAVBAR START */
.nav-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 210px;
    padding-top: 20px;
    
}
.logo-container {
    display:flex;
}
.logo-name{
    display:flex;
}
.menu-items {
    display:flex;
}
.Navbar__Link-toggle {
    display:none;
}
/* NAVBAR END */

/* LOGO START */
.logo-name {
    font-family: Roboto-Thin;
    font-size: 35px;
    color: #3E3E3E;
    display: flex;
    flex-direction: row;
    height:35px;
}
.blue-text {
    font-family: Roboto;
    font-style: bold;
    color: #4999BC;
    /* padding-top:40px;    */
}
.thin-text {
    padding-bottom: 10px;
}
.grey-text {
    font-family: Roboto-Light;
    color: #ACAEAF;
}
/* LOGO end */

/*LANDING-HEADER START*/
.landing-header{
    font-family: Roboto-Light;
    font-size: 40px;
    font-style: bold;
    color: #4999BC;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 180px;
}
.socialmedia-container {
    /* border: solid red 1px; */
    height: 35px;
    margin-top:5px;
    display: flex;
    justify-content: center;
}
.sm-icon{
    height:37px;
    width: 37px;
    margin: 20px 18px 0px 18px;
    /* border: solid red 1px; */
}
.facebook-icon{
    background-image: url(img/icons/social_media/facebook_darkgrey.svg);
    background-size: cover;
    transition: 0.6s ease-in;
}
.facebook-icon:hover{
    background-image: url(img/icons/social_media/facebook_blue.svg);
}
.instagram-icon{
    background-image: url(img/icons/social_media/instagram_darkgrey.svg);
    background-size: cover;
    transition: 0.6s ease-in;
}
.instagram-icon:hover{
    background-image: url(img/icons/social_media/instagram_blue.svg);
}
.linkedin-icon{
    background-image: url(img/icons/social_media/linkedin_darkgrey.svg);
    background-size: cover;
    transition: 0.6s ease-in;
}
.linkedin-icon:hover{
    background-image: url(img/icons/social_media/linkedin_blue.svg);
}
.twitter-icon{
    background-image: url(img/icons/social_media/twitter_darkgrey.svg);
    background-size: cover;
    transition: 0.6s ease-in;
}
.twitter-icon:hover{
    background-image: url(img/icons/social_media/twitter_blue.svg);
}

/* SKILLSET SECTION */
.skillset-container{
    height: 960px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skillset-header {
    margin: 60px 10px 50px 10px;
}
.skillset-header h1 {
    font-size: 46px;
}
.skillset-header p{
    font-size: 16px;
    margin-top: 5px;
}
.portfolio-container{
    width: 65%;
    height: 500px;
    /* border: red solid 1px; */
    display: grid;
    grid-template-rows: 435px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 20px;
    flex-wrap: wrap;
    
}
.portfolio-item{
    /* border: green solid 1px; */
    width: 250px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.port-logo{
    width: 70%;
    margin: 5px;
    height: 170px;
    /* border: blue solid 1px; */
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.port-header{
    font-family: Roboto-Light;
    margin-top: 10px;
    height: 30px;
    padding: 2px;
    font-size: 22px;
}
.line-break{
    width:35%;
    border-bottom: solid 1px #4999BC;
    margin: 6px 0px 14px 0px;
}
.port-text{
    line-height: 20px;
    width:90%;
}
.html-icon{
    background-image: url(img/icons/html_css.svg);
}
.node-icon{
    width: 60%;
    background-image: url(img/icons/node-js.svg);
}
.design-icon{
    background-image: url(img/icons/design.svg);
}
.comp-icon{
    background-image: url(img/icons/comp_maintenance.svg);
}
.print-icon{
    background-image: url(img/icons/print_network.svg);
}
.social-icon{
    max-width: 90%;
    background-image: url(img/icons/social_skills.svg);
}
.rd-icon{
    background-image: url(img/icons/research_development.svg);
}
.responsive-icon{
    background-image: url(img/icons/responsive.svg);
}





/* MEDIA QUERIES */
/*iPhone 6 Portrait*/
@media only screen and (min-width: 360px) and (max-width: 725px) and (orientation : portrait) { 
    .landing {
        background-image: url(img/phone_420x630.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 750px;
        
    }
    .nav-container{
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .menu-items{
        display:flex;
        justify-content: center;
        padding: 6.5px;
        visibility: hidden;
        text-align: center;
        width: 30%;
        opacity: 0;
        transition: visibility 0s, opacity 0.7s ease-in-out;  
    }
    .fas{
        margin-right: 40px;
    }
    .menu-item-toggle-show{
        visibility: visible;
        opacity: 1;
    }
    .menu-item-toggle-show:hover{
        border: 1px #ACAEAF solid;
    }

    .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: relative;
        cursor: pointer;
    }
    .landing-header{
        font-family: Roboto-Light;
        font-size: 25px;
        font-style: bold;
        color: #4999BC;
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-top: 40px;
    }
    .logo-container{
        margin-top:10px;
    }
    .logo-name{
        margin-top: 13px;
        margin-bottom: 1px;
    }
    .sm-icon{
        height:32px;
        width: 32px;
        margin: 20px 12px 0px 12px;
        /* border: solid red 1px; */
    }
    .portfolio-item{
        margin-top: 25px;
        
        
    }
}

@media only screen and (min-width: 726px){
    .nav-container {
        display: flex;
        justify-content: flex-end;
    }
    .logo-container {
        margin-right: auto;
        margin-left: 225px;
        margin-top: 60px;
    }
    .menu-items{
        margin-top: 65px;
        margin-right: 20px;
        height: 15px;
        padding-bottom: 8px;
        border-bottom: #4999BC 1.5px solid;
    }
    .menu-items:hover {
        border-bottom: grey 1.5px solid
    }
    .menu-items {
        font-size: 20px;
    }
    .last-item{
        margin-right: 225px;
    }

}   