@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/roboto/Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/roboto/Roboto-Light.ttf') format('truetype');
}

/* STYLE START*/
body{
    font-family: Roboto-Light;
    font-style: normal;
    color: #3E3E3E;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a {
    text-decoration: none;
    text-align: center;
}
.landing {
    width: 100%;
    height: 960px;
    display: flex;
    flex-direction: column;
    background-image: url(img/landingpage_mac.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 2px rgb(204, 204, 204);
}

/* NAVBAR START */
.nav-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 210px;
    padding-top: 20px;
    
}
.logo-container {
    display:flex;
}
.logo-name{
    display:flex;
}
.menu-items {
    display:flex;
    cursor: pointer;
}
.Navbar__Link-toggle {
    display:none;
}
/* NAVBAR END */

/* LOGO START */
.logo-name {
    font-family: Roboto-Thin;
    font-size: 35px;
    color: #3E3E3E;
    display: flex;
    flex-direction: row;
    height:35px;
}
.blue-text {
    font-family: Roboto;
    font-style: bold;
    color: #4999BC;
    /* padding-top:40px;    */
}
.thin-text {
    padding-bottom: 10px;
}
.grey-text {
    font-family: Roboto-Light;
    color: #ACAEAF;
}
/* LOGO end */

/*LANDING-HEADER START*/
.landing-header{
    font-family: Roboto-Light;
    font-size: 40px;
    font-style: bold;
    color: #4999BC;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 180px;
}
.socialmedia-container {
    height: 35px;
    margin-top:5px;
    display: flex;
    justify-content: center;
}
.sm-icon{
    height:37px;
    width: 37px;
    margin: 20px 18px 0px 18px;
    background-size: cover;
    transition: 0.6s ease-in;
}
.facebook-icon{
    background-image: url(img/icons/social_media/facebook_darkgrey.svg);
}
.facebook-icon:hover{
    background-image: url(img/icons/social_media/facebook_blue.svg);
}
.instagram-icon{
    background-image: url(img/icons/social_media/instagram_darkgrey.svg);
}
.instagram-icon:hover{
    background-image: url(img/icons/social_media/instagram_blue.svg);
}
.linkedin-icon{
    background-image: url(img/icons/social_media/linkedin_darkgrey.svg);
}
.linkedin-icon:hover{
    background-image: url(img/icons/social_media/linkedin_blue.svg);
}
.twitter-icon{
    background-image: url(img/icons/social_media/twitter_darkgrey.svg);
}
.twitter-icon:hover{
    background-image: url(img/icons/social_media/twitter_blue.svg);
}

/* SKILLSET SECTION */
.skillset-container{
    height: 1100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-header {
    margin: 75px 10px 50px 10px;
    color: #9EA0A1;
} 
.title-header h1 {
    font-size: 44px;
}
.title-header p{
    font-size: 16px;
    margin-top: 8px;
}
.skills-container{
    width: 65%;
    height: 400px;
    display: grid;
    grid-template-rows: 415px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
}
.skills-item{
    width: 250px;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.skill-logo{
    width: 70%;
    margin: 5px;
    height: 170px;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.skill-header{
    font-family: Roboto-Light;
    margin-top: 10px;
    height: 30px;
    padding: 2px;
    font-size: 22px;
}
.line-break{
    width:28%;
    border-bottom: solid 1px #4999BC;
    margin: 6px 0px 14px 0px;
}
.skill-text{
    line-height: 20px;
    width:90%;
}
.html-icon{
    background-image: url(img/icons/html_css.svg);
    overflow: hidden;
    background-size: 120px;
}
.node-icon{
    width: 60%;
    background-image: url(img/icons/node-js.svg);
    overflow: hidden;
    background-size: 110px;
}
.design-icon{
    background-image: url(img/icons/design_.svg);
    overflow: hidden;
    background-size: 180px;
}
.comp-icon{
    background-image: url(img/icons/comp_maintenance_.svg);
    overflow: hidden;
    background-size: 200px;
}
.print-icon{
    background-image: url(img/icons/print_network.svg);
    overflow: hidden;
    background-size: 150px;
}
.social-icon{
    background-image: url(img/icons/social_skills.svg);
    overflow: hidden;
    background-size: 120px;
}
.rd-icon{
    background-image: url(img/icons/research_development_.svg);
}
.responsive-icon{
    background-image: url(img/icons/responsive.svg);
    overflow: hidden;
    background-size: 150px;
}
.up-arrow {
    width: 40px;
    height: 40px;
    background-image: url(img/icons/up-arrow.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    bottom:100px;
    right:80px;
    position: fixed;
    display: none;
    cursor: pointer;
}
.animated {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  } 
  
  @-webkit-keyframes bounce {
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
    50% {-webkit-transform: translateY(-5px);}
  } 
  
  @keyframes bounce { 
    0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
  } 
  
  .bounce { 
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }
/* BANNER SETION */
.banner{
    display:flex;
    flex-direction: column;
    height: 500px;
    background: linear-gradient(
        rgba(73, 153, 188, 0.45),
        rgba(73, 153, 188, 0.45) 
    ),
    url(img/ldn_architechture.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgb(170, 170, 170);
}
.banner-text{
    width: 50%;
    font-style: italic;
    font-weight: 550;
    font-size: 24px;
    line-height: 26px;
    color: rgb(255, 255, 255);
    text-shadow: 0.5px 0.5px rgb(66, 66, 66);
}
.banner-line-break-top{
    width:25%;
    border-bottom: solid 1.5px #4999BC;
    margin-bottom: 40px;
}
.banner-line-break-bottom{
    width:25%;
    border-bottom: solid 1.4px #4999BC;
    margin-top: 40px;
}

 /* ABOUT SECTION */
 .about-container{
    height: 880px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center; 
 }
.headshot{
    width: 185px;
    height: 185px;
    background-color: rgb(221, 221, 221);
    border-radius: 50%;
    background-image: url(img/headshot.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 40px;
}
.about-text{
    width: 55%;
    color: #949494;
    font-size: 17px;
    font-family: Roboto-Light;
    line-height: 30px;
}
.about-gap {
    margin: 15px 0px 10px 0px;
}
.mail-icon{
    width: 46px;
    height: 46px;
    margin-top: 50px;
    background-image: url(img/icons/mail_blue.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* PORTFOLIO SECTION */
.portfolio-container{
    height: 880px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.project-grid {
    width: 65%;
    height: 256px;
    margin-top:30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-gap: 5px;
    grid-row-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.project-item{
    width: 375px;
    height: 200px;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
.project-content {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
.project-content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.project-content:hover .content-overlay{
  opacity: 0.75;
}
.ssk-color:hover .content-overlay {
  opacity: 1;
}
.mongo-color:hover .content-overlay {
  opacity: 1;
}

.project-icon{
    height: 130px;
    width: 130px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.project-content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-left{
  left: 20%;
}

.fcc-color {
    background-color: #006401;
}
.fcc-icon {
    background-image: url(img/icons/free-code-camp.svg);
    width: 180px;
    background-size: 80%;
}   
.github-color{
    background-color: #262626;
}
.github-icon{
    background-image: url(img/icons/github_white.svg);
    background-size: 90%;
}
.codewars-color{
    background-color: #AA2E22;
}
.codewars-icon{
    background-image: url(img/icons/codewars.svg);
    background-size: 90%;
}
.ssk-color{
    background-color: #DBDBDB;
}
.ssk-icon{
    background-image: url(img/icons/logossk.svg);
    background-size: 80%;
    width: 220px;
}
.python-color{
    background-color: #A6C6E1;
}
.python-icon{
    background-image: url(img/icons/python-5.svg);
}
.mongo-color{
    background-color: #D2E8CC;
}
.mongo-icon{
    background-image: url(img/icons/mongodb.svg);
    background-size: 90%;
    width: 220px;
}

/* FOOTER SECTION */
.footer-container{
    display: flex;
    height: 80px;
    background-color: #4999BC;
    text-align: center;
    flex-direction: column;  
}
.socialmedia-container .sm-icon{
    margin-top: 8px;
}
.copyright{
    padding-top: 32px;
    color: #DEDEDE;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 320px) and (max-width: 725px) and (orientation : portrait) { 
    .landing {
        background-image: url(img/phone_420x630.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 750px;
    }
    .nav-container{
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .menu-items{
        display:flex;
        justify-content: center;
        padding: 6.5px;
        visibility: hidden;
        text-align: center;
        width: 30%;
        opacity: 0;
        transition: visibility 0s, opacity 0.7s ease-in-out;  
    }
    .fas{
        margin-right: 40px;
    }
    .menu-item-toggle-show{
        visibility: visible;
        opacity: 1;
    }
    .menu-item-toggle-show:hover{
        border: 1px #ACAEAF solid;
    }

    .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: relative;
        cursor: pointer;
    }
    .landing-header{
        font-family: Roboto-Light;
        font-size: 22px;
        font-style: bold;
        color: #4999BC;
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-top: 40px;
    }
    .logo-container{
        margin-top:10px;
    }
    .logo-name{
        margin-top: 13px;
        margin-bottom: 1px;
        font-size: 30px;
    }
    .sm-icon{
        height:32px;
        width: 32px;
        margin: 20px 12px 0px 12px;
    }
    .title-header h1 {
        font-size: 40px;
    }
    .title-header p {
        font-size: 14px;
        line-height: 18px;
    }
    .portfolio-item{
        margin-top: 20px;   
    }
    .skillset-container{
        height: 3550px;
    }
    .banner-text{
        font-size: 15px;
        line-height: 22px;
    }
    .project-grid{
       height: 215px; 
    }
    .about-container{
        height: 1120px;
    }
    .about-text{
        font-size: 80%;
        line-height: 24px;
        width: 65%;
    }
    .project-item{
        width: 260px;
        height: 160px;
    }
    .ssk-icon{
        width:80%;
    }
    .codewars-icon{
        width: 40%;
    }
    .python-icon{
        background-size: 70%;
    }
    .portfolio-container{
        height: 1350px;
    }

    .up-arrow{
        right:12px;
        bottom:85px;
        width: 32px;
        height: 32px;
    }
}

@media only screen and (min-width: 726px){
    .nav-container {
        display: flex;
        justify-content: flex-end;
    }
    .logo-container {
        margin-right: auto;
        margin-left: 225px;
        margin-top: 60px;
    }
    .menu-items{
        margin-top: 65px;
        margin-right: 20px;
        height: 15px;
        padding-bottom: 8px;
        border-bottom: #4999BC 1.5px solid;
    }
    .menu-items:hover {
        border-bottom: grey 1.5px solid
    }
    .menu-items {
        font-size: 20px;
    }
    .last-item{
        margin-right: 225px;
    }
    .skillset-container{
        height: 3580px;
    }
}   
@media only screen and (min-width: 864px) {
    .skillset-container{
        height: 1850px;
    }
    .about-container{
        height: 950px;
    }
    .portfolio-container {
      height: 900px;
    }
}

@media only screen and (min-width: 1294px) {
    .skillset-container{
        height: 1450px;
    }
    .about-container{
        height: 880px;
    }
}

@media only screen and (min-width: 1724px){
    .skillset-container{
        height: 1100px;
    }
}